@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f1111;
  --darkBlue: #131921;
  --navyBlue: #131a22;
  --amazonBlue: #232f3e;
  --amazonBlueLight: #37475a;
  --amazonOrange: #ff9900;
  --amazonButton: #FFD814;
  --amazonButtonHover: #F7CA00;
  --amazonRed: #C40000; 
  --amazonGreen: #2b8538;
  --amazonLink: #007185; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hover-border {
  border: 1px solid transparent;
  border-radius: 2px;
  transition: border 0.3s ease-in-out;
}

.hover-border:hover {
  border-color: white;
}
.amazon-focus:focus {
  outline: 3px solid var(--amazonOrange);
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('/fonts/Ember/Amazon-Ember-Medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember Thin';
  src: url('/fonts/Ember/AmazonEmber_Rg.ttf') format('truetype');
}